@import "reset.css";
@import "variables.css";

.bt_hidden {
  display: none;
}

body {
  /* background-color: #ffedee; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_bar {
  font-size: 40px;
  margin: 10px;
  padding: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: var(--main_col);
  border-radius: 20px;
  border: 1px solid var(--main_bor);
  box-shadow: 3px 3px 5px var(--main_sh);
}

.jeju_uni_logo {
  height: 40px;
  width: 32px;
  margin: 0px 10px;
  border-radius: 7px;
}

.clock {
  font-size: 30px;
  margin: 10px;
}

.course {
  width: 80%;
  margin: 10px 0px;
  -webkit-tap-highlight-color: transparent;
}
.current_l {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  background-color: var(--main_col);
  font-size: 20px;
  border: 1px solid var(--main_bor);
  border-radius: 20px;
  position: relative;
  box-shadow: -5px -5px 20px var(--whi), 3px 3px 5px var(--main_sh);
  cursor: pointer;
}
.current_l:hover {
  box-shadow: -2px -2px 5px var(--whi), 1px 1px 5px var(--main_sh);
}
.current_l:active {
  box-shadow: inset 1px 1px 2px var(--whi), inset 0px 0px 2px var(--main_sh);
}
/* night color change */
.current_l_night {
  background-color: var(--night_col);
  border: 1px solid var(--night_bor);
  box-shadow: -5px -5px 20px var(--whi), 3px 3px 5px var(--night_sh);
}
.current_location_night_JD {
  color: var(--JD_font_col);
}
.current_l_night:hover {
  box-shadow: -2px -2px 5px var(--whi), 1px 1px 5px var(--night_sh);
}
.current_l_night:active {
  box-shadow: inset 1px 1px 2px var(--whi), inset 0px 0px 2px var(--night_sh);
}
/* JD color change */
.current_l_night_JD {
  background-color: var(--JD_col);
  border: 1px solid var(--JD_bor);
  box-shadow: -5px -5px 20px var(--whi), 3px 3px 5px var(--JD_sh);
}
.current_l_night_JD:hover {
  box-shadow: -2px -2px 5px var(--whi), 1px 1px 5px var(--JD_sh);
}
.current_l_night_JD:active {
  box-shadow: inset 1px 1px 2px var(--whi), inset 0px 0px 2px var(--JD_sh);
}
/* ha color change */
.current_l_ha {
  background-color: var(--ha_col);
  border: 1px solid var(--ha_bor);
  box-shadow: -5px -5px 20px var(--whi), 3px 3px 5px var(--ha_sh);
}
.current_l_ha:hover {
  box-shadow: -2px -2px 5px var(--whi), 1px 1px 5px var(--ha_sh);
}
.current_l_ha:active {
  box-shadow: inset 1px 1px 2px var(--whi), inset 0px 0px 2px var(--ha_sh);
}

.coures_name {
  font-size: 20px;
  font-weight: bolder;
  word-break: nowrap;
  margin: 0px 5px;
  background-color: var(--whi);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--whi);
}

.current_l_pic {
  visibility: hidden;
  height: 0vh;
  background-color: var(--main_bgc);
  border: 2px solid var(--main_bor);
  width: 100%;
  margin-top: -20px;
  padding-top: 30px;
  transition: all 0.5s;
  border-radius: 20px;
}
.current_l_pic_night {
  background-color: var(--night_bgc);
  border: 2px solid var(--night_bor);
}
.current_l_pic_night_JD {
  background-color: var(--JD_bgc);
  border: 2px solid var(--JD_bor);
}
.current_l_pic_ha {
  background-color: var(--ha_bgc);
  border: 2px solid var(--ha_bor);
}
.hidden_100 {
  visibility: visible;
  height: 100vh;
}
.hidden_90 {
  visibility: visible;
  height: 90vh;
}
.hidden_60 {
  visibility: visible;
  height: 60vh;
}
.hidden_50 {
  visibility: visible;
  height: 50vh;
}
.hidden_15 {
  visibility: visible;
  height: 15vh;
}
.hidden_10 {
  visibility: visible;
  height: 10vh;
}

.pic_con {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  margin: 10px 0px;
}
.pic_f {
  width: 40%;
  display: flex;
  justify-content: center;
}
.pic_f_move {
  font-size: 25px;
  margin: -15.5px 0px -11.5px 0px;
}
.pic_s {
  font-size: 20px;
}

.pic_div {
  color: var(--main_col);
  margin: 0px 10px;
}
.pic_div_night {
  color: var(--night_col);
  margin: 0px 10px;
}
.pic_div_ha {
  color: var(--ha_col);
  margin: 0px 10px;
}
.space_for_fixed {
  height: 150px;
}

.current_l_tt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coures_pic {
  width: 95%;
  height: 48%;
}
.coures_pic_JD {
  width: 95%;
  height: 42%;
  padding: 5px 0px;
  border-radius: 20px;
}
.coures_pic_JD_title {
  font-size: 30px;
  font-weight: bolder;
  color: var(--JD_font_col);
  margin-bottom: 10px;
}
.coures_pic_ha {
  width: 95%;
  height: 85%;
}

.coures_info_ha {
  margin-bottom: 10px;
  font-size: 30px;
}
.coures_pic_map {
  width: 95%;
  height: 95%;
}
.coures_pic_night_new {
  width: 60%;
  height: 90%;
}
.coures_pic_night_letter {
  font-weight: bolder;
  height: 6%;
}

.fixed_bu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  bottom: 50px;
}

.fixed_bu_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--whi);
  border: 2px solid var(--fixed_bor);
  border-radius: 25px;
  box-shadow: -1px -1px 10px var(--whi), 3px 3px 5px var(--main_sh);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.fixed_bu_con:hover {
  box-shadow: -2px -2px 5px var(--whi), 1px 1px 5px var(--main_sh);
}
.fixed_bu_con:active {
  box-shadow: inset 1px 1px 2px var(--whi), inset 0px 0px 2px var(--main_sh);
}

.click_col {
  background-color: var(--bt_col);
}

.ask_kakao {
  font-size: 20px;
}

.fin_pic {
  height: 350px;
  width: 350px;
  /* filter: opacity(0.6) drop-shadow(0 0 0 #ffbabe); */
  position: fixed;
  left: 20px;
  bottom: 55px;
  z-index: -1;
  opacity: 0.75;
  border-radius: 20px;
}
