@import "reset.css";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_bar {
  font-size: 50px;
  margin: 10px;
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: rgb(176, 242, 255);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  cursor: pointer;
}

.clock {
  font-size: 35px;
  margin: 10px;
}

.course {
  width: 80%;
  margin: 10px 0px;
}
.current_l {
  display: flex;
  padding: 5px 0px;
  background-color: rgb(176, 242, 255);
  font-size: 50px;
  border: 1px solid rgb(150, 234, 251);
  border-radius: 20px;
  position: relative;
  box-shadow: -5px -5px 20px #fff, 5px 5px 5px #7dbdc8;
  cursor: pointer;
}
.current_l:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #7dbdc8;
}
.current_l:active {
  box-shadow: inset 1px 1px 2px #fff, inset 0px 0px 2px #7dbdc8;
}

.coures_name {
  font-size: 30px;
  margin: 0px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.89);
}

.current_l_pic {
  visibility: hidden;
  height: 0vh;
  background-color: rgb(235, 252, 255);
  border: 2px solid rgb(207, 248, 255);
  width: 100%;
  margin-top: -20px;
  padding-top: 30px;
  transition: all 0.5s;
  border-radius: 20px;
}
.hidden {
  visibility: visible;
  height: 100vh;
}

.pic_con {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin: 10px 0px;
}
.pic_f {
  width: 40%;
  display: flex;
  justify-content: center;
}
