:root {
  --main_col: #81dc5d;
  --main_sh: #71b556;
  --main_bor: rgba(49, 180, 45, 0.2);
  --main_bgc: rgb(226, 255, 220);
  /* --main_col: #fda4a5;
  --main_sh: #ff9596;
  --main_bor: #ff9395;
  --main_bgc: #ffcfd0; */

  --ha_col: #6ddef0;
  --ha_sh: #57b7c6;
  --ha_bor: rgba(38, 111, 170, 0.2);
  --ha_bgc: rgb(226, 249, 255);

  --night_col: #a9a9a9;
  --night_sh: #848484;
  --night_bor: rgba(178, 178, 178, 0.2);
  --night_bgc: rgb(217, 217, 217);

  --JD_col: #2b2b2b;
  --JD_sh: #414141;
  --JD_bor: rgba(34, 34, 34, 0.2);
  --JD_bgc: rgb(94, 94, 94);
  --JD_font_col: #ffffff;

  --fixed_bor: rgb(49, 180, 45, 0.5);
  --bt_col: #d0ffbc;
  --whi: rgb(255, 255, 255);
  /* --fixed_bor: #ffaaac;
  --bt_col: #ffcbcc;
  --whi: rgb(255, 255, 255); */
}
